    <ul id="nav-dropdown-aboutus" class="dropdown-content">
        <li><a href="/aboutus/history.php">History</a></li>
        <li><a href="/aboutus/awards.php">Awards</a></li>
        <li><a href="/aboutus/demographics.php">Team Demographics</a></li>
    </ul>
        
    <ul id="nav-dropdown-structure" class="dropdown-content">
        <li><a href="/structure/technical.php">Techincal</a></li>
        <li><a href="/structure/safety.php">Safety</a></li>
        <li><a href="/structure/business.php">Business</a></li>
    </ul>

	<nav>
        <div class="nav-wrapper black">
            <a href="/"><img src="/img/logo.webp" style="margin-left:3px;margin-top:1px" height="62px" class="hide-on-med-and-down"></a>
            <a href="/" class="brand-logo" style="margin-left:3px">Benzene Bots</a>
        	<a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a class="dropdown-trigger" data-target="nav-dropdown-aboutus" href="/aboutus/">About Us <i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-trigger" data-target="nav-dropdown-structure" href="/structure/"> <i class="material-icons right">arrow_drop_down</i>Structure</a></li>
                <li><a href="/blog/">Updates</a></li>
                <li><a href="/sponsors/">Our Sponsors</a></li>
                <li><a href="/pictures/">Pictures</a></li>
                <li><a href="/contact/">Contact Us</a></li>
            </ul>
        </div>
    </nav>
        
    <ul class="sidenav grey darken-4" id="mobile-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/aboutus/">About Us</a></li>
        <ul class="mobile-dropdown">
            <li><a href="/aboutus/history.php">History</a></li>
            <li><a href="/aboutus/awards.php">Awards</a></li>
            <li><a href="/aboutus/demographics.php">Team Demographics</a></li>
        </ul>
        <li><a href="/structure/">Structure</a></li>
        <ul class="mobile-dropdown">
            <li><a href="/structure/technical.php">Techincal</a></li>
            <li><a href="/structure/safety.php">Safety</a></li>
            <li><a href="/structure/business.php">Business</a></li>
        </ul>
        <li><a href="/blog/">Updates</a></li>
        <li><a href="/sponsors/">Our Sponsors</a></li>
        <li><a href="/pictures/">Pictures</a></li>
        <li><a href="/contact/">Contact Us</a></li>
    </ul>
    <main>