body,
p {
    font-family: 'Roboto', Arial, sans-serif;
    color: white;
}

.black-text p {
    color: black;
}

body {
    background: #131212;
}

main {
    min-height: calc(100vh - 64px);
}

section p,
.bigger-text p {
    font-size: 16pt;
}

.logo {
    font-size: 2.1em
}

h1,
h2,
h3,
h4,
h5,
h6,
.card-title {
    font-family: 'Oswald', Arial, sans-serif
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase
}

h1 {
    font-size: 8rem
}

strong {
    font-weight: 700;
}

.card-title {
    font-weight: 500 !important
}

code {
    font-family: 'IBM', Courier, monospace;
    background: #282c34;
    color: #ebf2ff;
    border: 0;
    border-radius: 5px;
    padding: 3px 5px 3px 5px;
}

#home {
    height: calc(100vh - 64px);
    padding-top: calc(((100vh - 64px) * .2));
}

#contact .col {
    padding: 0 .35rem;
}

#contact .btn-large {
    width: 100%;
    margin: .35rem 0;
}

section {
    padding: 1em .4em;
}

footer {
    margin-top: 1em;
}

.carousel .carousel-item>img {
    width: 230%;
    margin-left: -60%;
}

.carousel .indicators {
    transform: translateY(20px);
}

@media screen and (min-width: 800px) {
    .row.equal-height-cards .col {
        display: flex;
    }

    .row.equal-height-cards {
        display: flex;
    }

    .row.equal-height-cards .card {
        display: flex;
        flex-direction: column;
    }

    .row.equal-height-cards .card-content {
        flex-grow: 1;
    }

    .cards-no-padding .col {
        padding: 0;
    }
}

@media screen and (max-width: 1000px) {
    section p {
        font-size: 14pt;
    }

    h1 {
        font-size: 6rem
    }
}

@media screen and (max-width: 800px) {
    section p {
        font-size: 12pt;
    }

    h1 {
        font-size: 4rem
    }
}

@media screen and (max-width: 400px) {
    nav .brand-logo {
        font-size: 1.5rem;
    }
}

/* Inactive/Active Default input field color */
.input-field input[type]:focus:not([readonly]),
.input-field textarea:focus:not([readonly]) {
    border-bottom: 1px solid #c62828;
    box-shadow: 0 1px 0 0 #c62828;
}


.input-field input[type]:not([readonly]),
.input-field textarea:not([readonly]) {
    color: white;
}

/* Inactive/Active Default input label color */
.input-field input[type]:focus:not([readonly])+label,
.input-field textarea:focus:not([readonly])+label {
    color: #c62828;
}

/* Active/Inactive Invalid input field colors */
.input-field input[type].invalid,
.input-field input[type].invalid:focus,
.input-field textarea.invalid,
.input-field textarea.invalid:focus {
    border-bottom: 1px solid #e57373;
    box-shadow: 0 1px 0 0 #e57373;
}

/* Active/Inactive Invalid input label color */
.input-field input[type].invalid:focus+label,
.input-field input[type].invalid~.helper-text::after,
.input-field input[type].invalid:focus~.helper-text::after,
.input-field textarea.invalid:focus+label,
.input-field textarea.invalid~.helper-text::after,
.input-field textarea.invalid:focus~.helper-text::after {
    color: #e57373;
}

/* Active/Inactive Valid input field color */
.input-field input[type].valid,
.input-field input[type].valid:focus,
.input-field textarea.valid,
.input-field textarea.valid:focus {
    border-bottom: 1px solid #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}

/* Active/Inactive Valid input label color */
.input-field input[type].valid:focus+label,
.input-field input[type].valid~.helper-text::after,
.input-field input[type].valid:focus~.helper-text::after,
.input-field textarea.valid:focus+label,
.input-field textarea.valid~.helper-text::after,
.input-field textarea.valid:focus~.helper-text::after {
    color: #26a69a;
}

.sidenav li a {
    color: white;
}

ul.sidenav li.active,
nav ul li.active {
    background: rgba(255, 255, 255, 0.1);
}

.dropdown-content {
    background: #212121;
    transform: translateY(-64px);
}

.dropdown-content li>a,
.dropdown-content li>span {
    color: white;
}

.dropdown-content li:hover,
.dropdown-content li.active {
    background: rgba(255, 255, 255, 0.1);
}

a.dropdown-trigger:focus {
    outline: none;
}

ul.mobile-dropdown {
    border: #c62828 solid 1px;
    border-right: none;
    margin-left: 32px;
}

ul.mobile-dropdown li a {
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    padding-left: 12px;
}

div.awards ul>li {
    list-style: initial;
}

div.awards p {
    margin-bottom: 0;
}

div.awards ul {
    margin-top: 0;
}

div.awards h4 {
    color: #c62828;
}

div.structure p {
    margin-top: 0;
}

div.row.structure {
    min-height: calc(100vh - 64px);
    margin: 0;
}

div.row.structure .col.s12.l4 {
    height: 100%;
}

.fill-img {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

section#sponsors .col.l4 {
    padding: 0;
}

section#sponsors .col.l8 {
    padding: 0 0 10px 0;
}

section#sponsors .row {
    margin: 0;
}

@media screen and (max-width: 1200px) {
    section#sponsors p {
        font-size: 12pt;
    }
}

@media screen and (max-width: 1000px) {
    section#sponsors .container {
        width: 60%;
    }
}

@media screen and (max-width: 500px) {
    section#sponsors .container {
        width: 90%;
    }
}

.post {
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 5px;
}

.post>h3 {
    text-transform: none;
}

.post-body {
    margin-left: 1.2em;
}

.post-body img {
    max-height: 30vh;
    max-width: 75vw;
}

.post-body h1 {
    font-size: 2.7em;
}

.post-body h2 {
    font-size: 2.2em;
}

.post-body h3 {
    font-size: 1.8em;
}

.post-body h4 {
    font-size: 1.3em;
}

.post h3 a {
    color: #c62828;
}

.btn .material-icons {
    font-size: 22px;
    vertical-align: -6px;
}

.post-controls {
    margin-top: 15px;
}

.post-controls a.btn {
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    margin: 0 2px;
    padding: 0 8px;
}

.col.post-controls a.btn {
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    margin: 0 2px;
    padding: 0 12px;
}

#toolbar {
    margin: 5px 1px;
}

#toolbar a {
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    margin: 0 1px;
    padding: 2px 4px;
}

#toolbar a .material-icons {
    vertical-align: -7px;
}

#editor {
    width: 100%;
    height: 70vh;
}

.post.preview {
    margin: 0;
    padding: 15px;
}

.post.preview h3 {
    margin-top: 0;
}

.vdivider {
    display: inline;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    margin-right: 3px;
    height: 100%;
}

.post ul>li {
    list-style: initial;
}
